# OSX
#
.DS_Store

*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

/android/build
/android/app/build/generated
/android/app/build/tmp
/android/app/build/intermediates
/android/app/build/outputs/logs
/android/app/build/outputs/*.html
/android/app/build/outputs/*.xml

.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
